{% block left_sidebar %}
{% load static %}
<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>
<!-- Sidebar Widgets Column -->
    <div></div>
<div class="col-md-2 float-left">
<div style="margin-top: 20px; margin-right: 30px">
<img src='/static/img/DSC_0569.JPG' style="margin-top: 20px; border-radius: 5px" align="right" width=200% height=35%/>
</div>
<div style="margin-top: 20px; margin-right: 30px; margin-bottom: 10px">
<img src='/static/img/DSC_0794.JPG' style="margin-top: 20px; border-radius: 5px" align="right" width=200% height=35%/>
</div>
<div style="margin-top: 20px; margin-right: 30px">
<img src='/static/img/IMG_7260.JPG' style="margin-top: 20px; border-radius: 5px" align="right" width=200% height=35%/>
</div>
<div style="margin-top: 20px; margin-right: 30px">
<img src='/static/img/IMG-5677.JPG' style="margin-top: 20px; border-radius: 5px" align="right" width=200% height=35%/>
</div>
</div>
{% endblock left_sidebar %}